body {
	margin: 0px;
	font-family: monospace;
}
button {
	font-family: monospace;
}

.centerInParent {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
}
.width100 {
	width: 100%;
}

.marginBottom0 {
	margin-bottom: 0px;
}
.marginTop0 {
	margin-top: 0px;
}
.smallMarginChildren > * {
	margin: 3px;
}
.flex {
	display: flex;
}
.flexGrow {
	flex-grow: 1;
}

.noauthUI {
	width: 100vw;
	height: 100vh;
	position: absolute;
	z-index: 100;
	left: 0px;
	top: 0px;
	background: hsla(0, 0%, 0%, 0.2);
}
.noauthUI button {
	font-size: 80px;
}

.authUI {
	background: hsla(0, 0%, 0%, 0.1);
	border-bottom: 1px solid black;
	
	display: flex;
	align-items: center;
	justify-content: flex-end;
	
	margin-bottom: 6px;
}

.authUI > * {
	margin: 5px;
}

.mainBody {
	margin: 6px;
}

css-editor {
	display: block;
	height: 500px;
	max-height: 600px;
	overflow: auto;
}

.styleHolder {
	border: 1px solid hsl(0, 0%, 70%);
    padding: 4px;
	position: relative;
	z-index: 1;
}

.styleHolder.styleDisabled:before {
	content: " ";
	z-index: 10;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: hsla(0, 0%, 0%, 0.1);
	pointer-events: none;
}

.styleHolder .disabledButton {
	font-size: 32px;
	font-weight: bold;
	z-index: 11;
	position: absolute;
	left: 50%;
	top: 0%;
	transform: translateX(-50%);
	opacity: 0.5;
	cursor: pointer;
}

.disabledButton:hover:after {
	content: "";
	position: absolute;
	width: 120%;
	height: 120%;
	left: -10%;
	top: -10%;
	background: hsla(0, 0%, 0%, 0.1);
}